@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  /* background-color: #080808; */
}

.navbar {
  background-color: #181818;
  color: white;
  font-family: sans-serif;
  padding: 10px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;

}

.logohead {
  margin: 0px;
  font-size: 2rem;
  background-color: #181818;
}

.navlink {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  font-size: 17px;
  font-weight: bold;
  background-color: #181818;
}

.navlink li a {
  text-decoration: none;
  color: #ffffffb3;
    background-color: #181818;
}
.navlink li{
    background-color: #181818;
}
.navbar li a:hover {
  color: white;
}

;

.search {
  padding: 0px;
  background-color: aqua;
  padding-top: 20px !important;
  background-color: #c61919;
    border-radius: 20px;
}

.searchbox {
  width: 30rem;
  height: 3rem;
  border-radius: 20px;
  outline: none;
  background-color: #181818;
  border: 1px solid #232323;
  padding-left: 2rem;
  color: white;
}

.signbtn {
  background-color: white;
  width: 6rem;
  height: 2.5rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  color: #080808;

}

.spotlight {
  background-image: url(./assets/spotlight.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box {
  mix-blend-mode: screen;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.box p {
  color: white;
  font-size: 1.3rem;
  font-family: sans-serif;
}

.textbox {
  width: 40rem;
}

.gift {
  background-color: inherit;
  width: 16rem;
  mix-blend-mode: screen;
  margin: auto;

}

.spotbtn {
  background-color: #7041eb;
  width: 12rem;
  height: 2.5rem;
  border-radius: 10px;
  color: white;
  margin-top: 50px;

}

.frame2 {
  background-color: #080808;
  position: relative;
  justify-content: center;
}

.leftbox {
  position: absolute;
  top: -9rem;
  left: 12rem;

}

.crypto {
  height: 14rem;
  width: 30rem;
  background-color: #232323;
  border-radius: 25px;
  padding: 14px;
  cursor: pointer;
  display: flex;
}

.cruptoimg {
  height: 12rem;
  width: 40%;
  background-color: #3b3b3b;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.Cryptoimg {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.desc {
  background-color: #232323;
  color: aliceblue;
  width: 60%;
  padding-left: 1rem;
  padding-top: 2rem;
}
.cryptohead {
  background-color: #232323;
  font-size: 20px;
  margin-bottom: 1rem;
  color: white;
}
.cryptopara {
  background-color: #232323;
  color: #828282;
}
.cryptobox {
  background-color: #232323;
  border-radius: 20px;
  display: flex;
  margin-bottom: 8px;
}
.togglediv {
  padding: 10px;
  width: 30rem;
  height: 20rem;
  background-color: #101010;
  overflow-y: scroll;
}
.cryptoboximg {
  height: 100px;
  width: 150px;
  border-radius: 20px;
}
.cryptodesc {
  background-color: #232323;
  padding: 6px;
  padding-left: 5px;
}
.cryptodeschead {
  background-color: #232323;
  color: white;
  font-size: 18px;
}
.cryptodescpara {
  background-color: #232323;
  color: #a2a2a2;
  font-size: 18px;
}
.frame2 {
  display: flex;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  padding: 9rem;
}

.catimg {
  height: 12rem;
  width: 12rem;
  background-color: #101010;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgb(247, 232, 232) 0px 1px 4px;
}

.Catimg {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.catdeschead {
  color: #9b9b9b;
  font-size: 23px;
  font-weight: bold;
  font-family: sans-serif;
}

.catdesc {
  color: #383838;
  font-size: 17px;
  font-weight: bold;
  font-family: sans-serif;
}

.frame3 {
  justify-content: start;
  padding-left: 10%;
  padding-bottom: 15rem;
  background-color: #080808;
}

.frame3box {
  display: flex;
  gap: 10rem;
}

.frame3left {
  padding-top: 20rem;
}

.timerbox {
  background-color: #151515;
  width: 20rem;
  height: 10rem;
  border-radius: 20px;
}

.reward {
  padding-top: 5rem;
  display: flex;
  gap: 5rem;
  justify-content: end;
  padding-right: 20%;
}

.reawardhead {
  color: #383838;
}

.time {
  background-color: #151515;
  border-radius: 20px;
  padding: 20px;
}

.reawardhead {
  background-color: #151515;
  font-size: 20px;
}

.maintime {
  margin-top: 1rem;
  background-color: #383838;
  height: 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-radius: 10px;
}

.clock {
  background-color: #383838;
  color: white;
}

.count {
  background-color: #383838;
}

.counth3 {
  background-color: #383838;
  font-size: 2.2rem;
  color: #9c9c9c;
  font-weight: bold;
}

.countp {
  background-color: #383838;
  color: #9c9c9c;
}

.luckydraw {
  margin-top: 10px;
  background-color: #151515;
  padding: 10px;
  border-radius: 20px;
}

.luckyimg {
  border-radius: 20px;
}

.draw2 {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  background-color: #151515;
}

.drop {
  background-color: #151515;
  color: white;
}

.gray {
  background-color: #151515;
  color: #6b6b6b;
}

.draw3 {
  margin-top: 2px;
  background-color: #151515;
}

.claimbtn {
  height: 3rem;
  background-color: #252525;
  width: 100%;
  font-family: sans-serif;
  color: #a8a8a8;
  border-radius: 10px;
  margin-top: 1rem;
}

.text {
  background-color: #131313;
  height: 25rem;
  width: 20rem;
  color: #7d7d7d;
  box-shadow: rgba(225, 223, 223, 0.893) 0px 1px 3px 0px, rgba(184, 187, 190, 0.911) 0px 0px 0px 1px;
  border-radius: 20px;
}

.text p {
  background-color: #131313;
  margin: 1rem;
  font-weight: normal;
}

.textp {
  color: white;
}

.border {
  height: 5px;
  background-color: #1a1a1a;
}

.frame4 {
  text-align: center;
  color: white;
  font-family: sans-serif;
      background-color: #080808;
}

.frame4 h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;

}

.frame4 p {
  color: #6b6b6b;
}

.reels {
  display: flex;
  gap: 3rem;
  padding: 2rem;
  justify-content: center;
  margin-bottom: 30px;
}

.rellimg {
  border-radius: 20px;
  position: relative;
  width: 100%;
}
.reeldiv:hover{
  .rellimg{
    display: none;
  }
  .reelvideo1{
    display: block;
  transform: translateY(20px);
  transition:0.5s ease-in-out, transform 0.5s ease-in-out, 0.5s ease-in-out;
}  
  
}
.reeldiv{
  width: 17rem;
  height: 24rem;
}
.reelvideo1{
  display: none;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.Frame5{
  text-align: center;
  color: white;
  font-family: sans-serif;
  background-color: #080808;
  padding-bottom: 10px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.Frame5 h2 {
  font-size: 1.5rem;
  font-weight: bold;

}

.Frame5 p {
  color: #6b6b6b;
}
.Cryptoimg2{
  width: 80rem;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btns{
  background-color: #151515;
  height: 3rem;
  width: 20rem;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 40px;
        margin-bottom: 30px;
}
.first{
  width: 50%;
  border-radius: 20px;
  background-color: #393939;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;

}
.second {
 width: 50%;
  border-radius: 20px;
  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
      font-weight: bold;

}
.second:hover{
  background-color: #313131;
}
.footer{
text-align: center;
  color: white;
  font-family: sans-serif;
  background-color: #080808;
  padding-bottom: 10px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
.footerdiv{
  text-align: center;
  color: white;
  font-family: sans-serif;
  background-color: #080808;
  display: flex;
  width: 80rem;
  margin: auto;
  padding-bottom: 20px;
  /* padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80rem;
  margin: auto; */
}
.foot1{
  width: 100%;
  padding-right: 90px;
}
.foot2 {
  width: 20%;
  display: grid;
  text-align: left;
}
.footerleft{
  width: 40%;
}
.footerright{
  width: 60%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.foot1logo{
 text-align: left;
 margin-bottom: 30px;
}
.foot1logo h1{
background-color: #080808;
}
.foot1desc{
  background-color: #080808;
  text-align: left;
}
.foot2head{
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.fooo2link{
  color: #6b6b6b;
  font-family: bold;
    font-family: sans-serif;
    margin-bottom: 5px;
}
.fooo2link:hover{
  color: white;
}
.footerborder{
  width: 70vw;
margin: auto;
height: 5px;
  background-color: #1a1a1a;
}
.footnote{
  width: 80rem;
  margin: auto;
  padding-top: 40px;
  font-family: sans-serif;
  font-weight: normal;
  margin-bottom: 40px;
}
.footnotepara{
  text-align: left;
  color: #7d7d7d;
}
.footnotepara span{
 color: #bfbfbf;
}
.lastdiv{
  display: flex;
  justify-content:space-between;
  text-align: left;
  width: 80rem;
  margin: auto;
}
.created{
  padding-top: 30px;
}
.social{
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
.linklogo{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #1a1a1a;
  justify-content: center;
  align-items: center;
  padding: 5px; 
}
.linkimg{
  margin: auto;
}

/* Responsivestyle */
@media only screen and (max-width: 884px) {
.navlinkdiv{
display: none;
}
.frame2{
  display: grid;
}
.frame3box{
  display: grid;
  padding-top: 0px;
}
.frame3left{
  padding-top: 30px;
}
.reward{
  display: grid;
  gap: 35rem;
  justify-content: center;
}
.Frame5{
  padding: 40px;
}
.foot1{
  padding-left: 0px;
}
.footerdiv{
  display: grid;
  flex-wrap: wrap;
  width: 100vw;
  gap: 20px;
  justify-content: center;
}
.footnote{
  width: 100vw;
  padding-left: 30px;
  padding-right: 30px;
}
.lastdiv{
  width: 100vw;
  padding-left: 30px;
  padding-right: 30px;
}
.footerright{
  width: 100vw;
  padding: 20px;
  display: flex;
  gap: 25px;
  justify-content: space-between;
}
.footerleft{
  padding: 30px;
}
}